{% extends "Layout.twig" %}
{% import "form.twig" as formular %}

{% block title %}
    <title>Modifier BlogPost</title>
{% endblock %}

{% block content %}
    <div class="inner-head overlap">
        <div data-velocity="-.2" style="background: url(http://placehold.it/1500x1100) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->	
        <div class="container">
            <div class="inner-content">
                <span><i class="fa fa-code"></i></span>
                <h2>Modifier un blogpost :</h2>
            </div>
        </div>
    </div><!-- inner Head -->   
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {{ formular.createView(form,'Modifier le BlogPost')}}
                </div>
            </div>
        </div>
    </section>                                
{% endblock %}
