{% extends "Layout.twig" %}
{% import "form.twig" as formular %}

{% block title %}
    <title>Nouveau BlogPost</title>
{% endblock %}

{% block content %}
    {{ formular.createView(form,'Ajouter le BlogPost')}}
{% endblock %}