{% extends "Layout.twig" %}

{% block title %}
    <title>Page Admin - Liste des inscriptions</title>
{% endblock %}


{% block content %}
    <div class="inner-head overlap">
        <div data-velocity="-.2" style="background: url(http://placehold.it/1500x1100) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->	
        <div class="container">
            <div class="inner-content">
                <span><i class="fa fa-code"></i></span>
                <h2>Page Admin - Liste des inscriptions : </h2>
            </div>
        </div>
    </div><!-- inner Head -->
    <H1></H1>    

    <section class="block">   
        <div class="container">
            <div class="row table table-responsive">                            
                <div class="col-md-4">
                    <table class="table table-striped table-bordered ">    
                        <thead style="background: #000;border: none; color: white;">
                        <th>Utilisateur</th>
                        <th>Statut</th> 
                        </thead>                
                        <tbody>
                            {% for subscription in subscriptions %}
                                <tr>
                                    <td>{{subscription.username}}</td>
                                    <td>{% if subscription.valid == false %}<a class="btn btn-success" role="button" aria-disabled="true" href="/admin/inscription/{{subscription.id}}/valider">A valider</a>
                                    {% else %}Validé 
                                        {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>    
                                </table>
                            </div>    
                        </div>
                    </div>
                </section>
                {% endblock %}
