{# Links.twig #}

{% block Links %}
<DIV>
    <p><a href="Public/Bernhard_G-CV.pdf" download>Mon cv ici</a></p>
    <p><a href="https://www.linkedin.com/in/gaëtan-bernhard-b0b9074a">LinkedIn</a></p>
</DIV>
{% endblock %}