<?xml version="1.0" encoding="UTF-8"?>


<routes>
    <route url="/" module="Home" action="HomePage" ></route>
    <route url="/index.php" module="Home" action="HomePage" ></route>
    <route url="/contactform" module="Home" action="SendContactForm" ></route>
        
    <route url="/mesblogposts" module="BlogPost" action="ShowAllBlogPosts" ></route>    
    <route url="/blogpost/([0-9]+)" module="BlogPost" action="ShowBlogPost" vars="id"></route>
    <route url="/blogpost/([0-9]+)/submitcomment" module="BlogPost" action="SubmitComment" vars="id"></route>
    
    <route url="(.*)/demandeconnexion" module="Connection" action="ShowConnectionPage" vars="adresse"></route>
    <route url="(.*)/seconnecter" module="Connection" action="Authentication" vars="adresse"></route>
    <route url="/sedeconnecter" module="Connection" action="Disconnection" ></route>
    <route url="/demandeinscription" module="Connection" action="ShowSubscriptionPage" ></route>
    <route url="/inscription" module="Connection" action="SubmitSubscription" ></route>     
                
    <route url="/admin" module="BlogPost" action="ShowAdminPage"></route>    
    <route url="/admin/pageajoutblogPost" module="BlogPost" action="ShowAddBlogPostPage" ></route>
    <route url="/admin/addblogPost" module="BlogPost" action="AddBlogPost"></route>    
    <route url="/admin/blogpost/([0-9]+)/supprimer" module="BlogPost" action="DeleteBlogPost" vars="id" ></route>
    <route url="/admin/blogpost/([0-9]+)/modifier" module="BlogPost" action="ShowUpdateBlogPostPage" vars="id" ></route>
    <route url="/admin/blogpost/([0-9]+)/submitmodifications" module="BlogPost" action="UpdateBlogPost" vars="id" ></route>
        
    <route url="/admin/blogpost/([0-9]+)/commentaires" module="BlogPost" action="ShowComments" vars="id" ></route>
    <route url="/admin/blogpost/([0-9]+)/commentaire/([0-9]+)/supprimer" module="BlogPost" action="DeleteComment" vars="id,comment_id" ></route>
    <route url="/admin/blogpost/([0-9]+)/commentaire/([0-9]+)/valider" module="BlogPost" action="ValidateComment" vars="id,comment_id" ></route>
    
    <route url="/admin/inscriptions" module="Connection" action="ShowSubscriptions" ></route>
    <route url="/admin/inscription/([0-9]+)/valider" module="Connection" action="ValidateSubscription" vars="id"></route>
    
    
</routes>
