{% extends "Layout.twig" %}

{% block title %}
    <title>Home</title>
{% endblock %}


{% block content %}
    <!--Banner -->
    <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>	<!-- SLIDE  -->

                <li data-index="rs-16" data-transition="zoomout" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000"  data-thumb="http://placehold.it/1924x943"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="Public/images/bannerPicture.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina  >
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                         id="slide-16-layer-1"   
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                         data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                         data-fontsize="['125','125','125','100']"
                         data-lineheight="['152','152','152','152']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                         data-mask_in="x:0px;y:[100%];" 
                         data-mask_out="x:inherit;y:inherit;" 
                         data-start="1500" 
                         data-splitin="none" 
                         data-splitout="none" 
                         data-responsive_offset="on" 

                         data-elementdelay="0.05" 

                         style="z-index: 5; white-space: nowrap; font-family:montserrat; font-weight:bold; width: 50%; color:#fff;">Gaëtan 
                    </div>
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 

                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                         data-y="['top','top','top','top']" data-voffset="['160','160','160','160']" 
                         data-fontsize="['125','125','125','100']"
                         data-lineheight="['152','152','152','152']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                         data-mask_in="x:0px;y:[100%];" 
                         data-mask_out="x:inherit;y:inherit;" 
                         data-start="1500" 
                         data-splitin="none" 
                         data-splitout="none" 
                         data-responsive_offset="on"  

                         data-elementdelay="0.05" 

                         style="z-index: 5; white-space: nowrap; font-family:montserrat; font-weight:bold; width: 50%; color:#fff;">BERNHARD 
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption  tp-resizeme rs-parallaxlevel-0" 

                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                         data-y="['top','top','top','top']" data-voffset="['350,'350','350','330']" 
                         data-width="none"
                         data-height="none"
                         data-fontsize="['31','31','31','20']"
                         data-lineheight="['31','31','31','31']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                         data-start="2500" 
                         data-splitin="none" 
                         data-splitout="none" 
                         data-responsive_offset="on" 


                         style="z-index: 6; white-space: nowrap; font-family:montserrat; font-weight:bold; color:#ffffff;">MADE TO BE YOUR WEBDESIGNER
                    </div>

                    <!-- LAYER NR. 2 -->
                    <a href="#bienvenu" class="tp-caption flat-btn  tp-resizeme rs-parallaxlevel-0" 

                       data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                       data-y="['top','top','top','top']" data-voffset="['430,'430','430','400']" 
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"

                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                       data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                       data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                       data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                       data-start="2500" 
                       data-splitin="none" 
                       data-splitout="none" 
                       data-responsive_offset="on" 


                       style="z-index: 6; white-space: nowrap; ">DECOUVRER MON BLOG
                    </a>

                </li>
            </ul>
        </div>
    </div>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-carousal-sec">
                        <ul id="bienvenu" class="carousel">
                            <li>
                                <img alt="" src="Public/images/presentation.jpg">
                                <h3>Bienvenue sur mon Blog</h3>
                                <p style="text-align: justify;">Voici mon blog d'articles que j'ai programmé en PHP... et en orienté objet! 
                                    Je l'ai créé pour répondre au cahier des charges d'un des projets de mon parcours Développeur PHP / Symfony avec OpenClassrooms.
                                    Dans ce site vous pourrez accéder &agrave; la liste des articles, lire des articles et y poster des commentaires.
                                    Vous avez également la possibilité de vous inscrire. Une fois votre inscription validée, 
                                    vous pourrez créer des articles, gérer les articles du site et leur contenu, modérer les commentaires et valider les inscription d'autres utilisateurs.
                                    Vous pouvez avoir plus d'informations sur mon profil en téléchargeant mon CV ou en accédant &agrave; mon profil LinkedIn.
                                    Si vous souhaitez me contacter, il y a un formulaire de contact &agrave; votre disposition en bas de la page.
                                    Bonne visite!</p>
                            </li>
                        </ul>
                        <div class="our-clients-sec">
                            <ul>
                                <li>
                                    <a href="https://www.linkedin.com/in/gaëtan-bernhard-b0b9074a" title="Profil_LinkedIn"><img src="Public/images/logo-LinkedIn.png" alt="Logo LinkedIn" /></a>
                                </li>
                                <li>
                                    <a href="Public/BERNHARD_G-CV.pdf" title="CV_en_pdf"><img src="Public/images/logo-cv-pdf.png" alt="CV_en_pdf" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="block remove-top" id="contact">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="heading4">
                        <h2>CONTACTER MOI</h2>
                    </div>
                    <div class="contact-page-sec">
                        <div class="row">
                            <div class="col-md-6 column">
                                <div>
                                    <div id="message"></div>
                                    <div class="form">
                                        <form method="post" action="/contactform" name="contactform" id="contactform">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="name">Nom et Prénom :</label>
                                                    <input name="name" type="text" id="name" class="input-style"/>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="name">E-mail :</label>
                                                    <input name="email" type="text" id="email" class="input-style"/>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="name">Votre message :</label>
                                                    <textarea name="comments" id="comments" class="input-style"></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="submit"  class="flat-btn" id="submit" type="submit" value="Envoyer" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-6 column">
                                <div class="contact-details">
                                    <div class="contact-infos">
                                        <ul>
                                            <li>
                                                <span><i class="fa fa-envelope"></i>Mon adresse</span>
                                                <p>2A rue Auguste Lepère <br>44100 NANTES </p>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-phone"></i> Téléphone/Email</span>
                                                <p>(+33) 0680990880 <br>gaetan.bernhard@gmail.com</p>
                                            </li>
                                        </ul>
                                    </div>	
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36455.09266770254!2d-1.5860791158060654!3d47.22556326763991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ec5953a9757f%3A0xed756450487421ad!2s2+Rue+Auguste+Lepere%2C+44100+Nantes!5e0!3m2!1sfr!2sfr!4v1518218384118" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}